* {
    box-sizing: border-box;
}
  
#_head {
    font-size: 40px;
    text-align: center;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
}

#_home, #_about, #_update {
    padding: 2%;
    font-size: 20px;
    text-align: left;
    border: 1px solid lightgrey;
    background-color: rgb(233, 233, 233);
}

._options {
    padding: 2%;
    font-size: 20px;
    text-align: left;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
}

nav {
    width: 15%;
    float: left;
    height: 575px; 
    padding: 5px;
    border: 1px solid lightgrey;
    background: rgb(190, 190, 190);
}

article {
    width: 85%;
    float: right;
    padding: 2px;
    height: 575px;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
}

footer {
    padding: 10px;
    color: white;
    text-align: center;
    background-color: grey;
    border: 1px solid lightgrey;
}

nav #home, ._options {
    list-style-type: none;
}

@media (max-width: 100px) {
    nav, article {
      width: auto;
      height: auto;
    }
}

a:link {
    text-decoration: none;
}

a:active {
    color: grey
}

a:visited {
    color: black;
}

a:hover, ._options:hover {
    background-color: lightgrey;
}

